<form [formGroup]="service.form" class="normal-form">
  <mat-grid-list cols="2" rowHeight="500px">
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field>
          <mat-select formControlName="libraryType" placeholder="Library Type">
            <mat-option>None</mat-option>
            <label for="textarea2">Textarea</label>
            <ng-container *ngFor="let librarytype of service.librarytype">
              <mat-option value="{{ librarytype.id }}">{{
                librarytype.value
              }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="status" placeholder="Status">
            <mat-option>None</mat-option>
            <ng-container *ngFor="let status of service.status">
              <mat-option value="{{ status.id }}">{{
                status.value
              }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <!-- <mat-form-field>
          <input formControlName="mobile" matInput placeholder="Mobile" />
          <mat-error *ngIf="service.form.controls['mobile'].errors?.required"
            >This field is mandatory.</mat-error
          >
          <mat-error *ngIf="service.form.controls['mobile'].errors?.minlength"
            >Minimum 8 charactors needed.</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input formControlName="city" matInput placeholder="City" />
        </mat-form-field> -->
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="controles-container">
        <div class="add-bottom-padding"></div>
        <mat-form-field>
          <input
            formControlName="libraryCode"
            matInput
            placeholder="Library Code"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            formControlName="libraryName"
            matInput
            placeholder="Library Name"
          />
        </mat-form-field>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit">
            Add
          </button>
          <button mat-raised-button color="primary">Search</button>
          <button mat-raised-button color="warn">Clear</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
