<body class="login-container">


    <div class="container login">
        <div class="login-sec">

            <div class="logo-sec">
                <img src="https://static.atpi.com/bootstrap/img/atpi-crewlink-white-logo.png" width="325" height="107"
                    border="0" />
            </div>
            <div class="login-title">
                <span>
                    <h1>Join the dots of your crew rotations</h1> <br />travel
                    workflow technology designed for the shipping and energy industries
                </span>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="loginWrapper">
                <h2 class="titleHeader icon-user margin-bottom-20">Login</h2>
                <form method="post" id="loginForm" name="f" action="j_spring_security_check" method="post">
                    <div class="row margin-top-20 margin-bottom-20">
                        <div class="form-group col-md-5">
                            <label class="sr-only">Username</label>
                            <div class="iconspan">
                                <span class="iconspanwrapper icon-user"></span> <input type="text"
                                    class="input-big form-control" name="j_username" placeholder="Username" required
                                    value='' />
                            </div>
                        </div>
                        <div class="form-group col-md-5">
                            <label class="sr-only">Password</label>
                            <div class="iconspan">
                                <span class="iconspanwrapper icon-login"></span> <input type="password"
                                    class="input-big form-control" id="password" name="j_password"
                                    placeholder="Password" required />
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                                <input routerLink='/dashboard' type="submit" id="_submit" name="submit" class="btnAction icon-login pull-right" value="Login">
                            <!-- <input type="submit" id="_submit" name="submit" class="btnAction icon-login pull-right"
                                value="Login"></input> -->
                                <!-- <a  routerLink='/dashboard' id="_submit" name="submit" class="btnAction icon-login pull-right" value="Login">Login</a> -->

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    (function () {
        var body = document.getElementsByTagName("body");

        var images = [
            "//static.atpi.com/bootstrap/img/clk-login-bg-3.jpg",
            "//static.atpi.com/bootstrap/img/clk-login-bg-2.jpg",
            "//static.atpi.com/bootstrap/img/clk-login-bg.jpg"
        ];

        var imgCount = images.length;

        var randNumber = Math.floor((Math.random() * imgCount) + 1);

        imgURL = images[randNumber - 1];
        $('.login-container').attr('style', 'background-image:url("' + imgURL + '") !important');

    }());
</script>