p.loginError {
	display: block;
	position: relative !important;
	z-index: 99 !important;
	/* behavior: url(PIE.htc); */
	background: #ffe7e7;
	padding: 10px;
	font: normal 14px segoe UI;
	margin: 5px auto;
	clear: both;
	border-radius: 5px;
	-moz-border-radius: 5px;
	text-align: center !important;
}