/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
div.container {
    margin: 0px 40px;
}

form.normal-form {
    margin: 10px;
}

.controles-container {
    width: 100%;
    padding: 5%;
}

.controles-container>*,
.full-width {
    width: 100%;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }



/* radio group */

.add-bottom-padding {
    padding-bottom: 10px;
}


/* add gap b/w adjacent button */

.button-row button {
    margin: 5px;
}

mat-radio-group mat-radio-button {
    margin-left: 5px;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.mat-form-field {
    font-size: 14px;
    width: 90%;
    margin: 0 auto;
}